<div ng-app="app">
  <div ng-controller="codeProgramsCtrl" ng-init="setup()">
    
    <table>
        <tr>
          <th>Org Name</th>
          <th>Org Website</th>
          <th>Keywords</th>
        </tr>
        <tr ng-repeat="codeProgram in codePrograms">
        
        <td >{{codeProgram.organization_name}}</td>
        <td><a href="{{codeProgram.website}}" target="_blank">{{codeProgram.website}}</a></td>
        <td >{{codeProgram.keywords}}</td>
      </tr>
      </table>
   
  </div>
</div>