<div ng-app="app">
  <div ng-controller="codeProgramsCtrl" ng-init="setup()">
    
    Search by location: <input ng-model="locationFilter" list="location" class="animated">
    <datalist id="location">
    <option ng-repeat="codeProgram in codePrograms">{{codeProgram.locations}}</option>
    </datalist>

    Search by name: <input ng-model="nameFilter" list="names">
    <datalist id="names">
    <option ng-repeat="codeProgram in codePrograms">{{codeProgram.organization_name}}</option>
    </datalist>

    <table>
      <tr>
        <th class='column-border' ng-click="toggleOrder('organization_name')">Org Name</th>
        <th class='column-border' ng-click="toggleOrder('website')">Org Website</th>
        <th class='column-border' ng-click="toggleOrder('keywords')">Keywords</th>
      </tr>
      <tr ng-repeat="codeProgram in codePrograms | filter: {locations: locationFilter} | orderBy:orderAttribute:direction">

        <td >{{codeProgram.organization_name}}</td>
        <td><a href="{{codeProgram.website}}" target="_blank">{{codeProgram.website}}</a></td>
        <td >{{codeProgram.keywords}}</td>
      </tr>
    </table>

     <div>Add Program/Resource
      <ul>
        <li class="error-messages" ng-repeat="errorMessage in errorMessages">{{errorMessage}}</li>
      </ul>

      <p>Org Name: <input ng-model="newCodeProgram.organization_name">
      <p>Website url: <input ng-model="newCodeProgram.website">
      <p>Description: <input ng-model="newCodeProgram.mission_description">
      <p>Population focus: <input ng-model="newCodeProgram.population_focus">
      <p>Time commitment: <input ng-model="newCodeProgram.time_commitment">
      <p>Program Cost: <input ng-model="newCodeProgram.cost">
      <p>Languages: <input ng-model="newCodeProgram.languages_courses">
      <p>Locations (city, state): <input ng-model="newCodeProgram.locations">
      <p>Contact Person Name: <input ng-model="newCodeProgram.leadership_contact">
      <p>Contact Person Title: <input ng-model="newCodeProgram.title">
      <p>Contact Person Email: <input ng-model="newCodeProgram.email">
      <p>Phone Number: <input ng-model="newCodeProgram.phone_number">
      <p>Address: <input ng-model="newCodeProgram.address">
      <p>City: <input ng-model="newCodeProgram.city">
      <p>State: <input ng-model="newCodeProgram.state">
      <p>Zip: <input ng-model="newCodeProgram.zip">
      <p>Year Founded: <input ng-model="newCodeProgram.when_founded">
      <button ng-click="addCodeProgram(newCodeProgram)">Add Program</button>
    </div>
  </div>
</div>